body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card */
.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

/* Input */
.input-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

button {
  padding: 10px 15px;
  border: none;
  background: #4cafef;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2196f3;
}

/* Task list */
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
}

li button {
  background: #ff4d4d;
}

li button:hover {
  background: #e60000;
}